<footer>
    <div class="f-info m-auto">
        <div class="f-info-socials ">
            <i class="fa-brands fa-facebook m-auto"></i>
            <i class="fa-brands fa-instagram "></i>
            <i class="fa-brands fa-linkedin "></i>

        </div> 
        <div>&copy; Private Limated</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
         
        </div>

    </div>
</footer>