<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Listing</h1>
    <form method="post" action="/listings">
        <input type="text" placeholder="enter title" name="title">
        <br>
        <textarea name="description" placeholder="enter description" id=""></textarea>
        <br>
        <input type="text" name="image" placeholder="enter image URL/Link">
        <br>
        <input type="number" name="price" placeholder="enter price">
        <br>
        <input type="text" name="country " placeholder="enter country">
        <br>
        <input type="text " name="location" placeholder="enter location">
        <br>
        <button>ADD</button>
    </form>
</body>
</html> 